.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 110vh; /* ensures the footer is below vh */
  margin: auto;
}

.content {
  flex: 1 0 auto;
}

.App-header {
  background-color: #006400;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header h2 {
  margin: auto;
}

.button-bar {
  margin: 30px auto;
  background-color: #E0E0E0;
  border-radius: 12px;
  display: inline-flex; /* makes button-bar as wide as content */
  max-width: 90%;
}

.button {
  font-family: 'Lato', sans-serif;
  background-color: #E0E0E0;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 12px;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  font-weight: bold;
}

/*.button:hover,*/
.active {
  background-color: #007E00;
  color: white;
}

.button:focus {
  outline: none;
}

span {
  margin: 0 0 0 10px;
  width: 1px; /* to prevent button text from shifting */
}

.scoreboard {
  margin: auto;
  max-width: 500px;
  justify-content: center;
  align-content: center;
  color: #333;
}

.score {
  width: 95%;
  margin: auto;
  font-size: 1.1em;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: rank;
  font-weight: bold;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  grid-area: avatar;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: username;
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  grid-area: points;
}

.score a {
  /* moved grid styling here from score to make div clickable link */
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr 1fr;
  grid-template-areas: "rank avatar username points";
  outline: none;
  text-decoration: none;
  color: inherit;
  margin: auto;
}

hr {
  width: 95%;
  border-top: 1px solid #E0E0E0;
  margin: 5px auto;
}

.footer {
  background-color: #006400;
  height: 50px;
  margin-top: 6px; /* to replace margin from missing last hr element */
}

@media (min-width: 760px) {

  .scoreboard {
    max-width: 650px;
  }

  p {
    font-size: 1.15em;
  }

  .avatar img {
    max-width: 60px;
    max-height: 60px;
  }

}
